@{
    ViewBag.Title = "Home Page";

}
<div class="text-center mt-2 mb-3"><h2>Главная</h2></div>


@helper printNews(string nameOfNews, string special, string subtitle, string link, string date, string content)
{
    <div class="card mb-3">
        <h3 class="card-header">@nameOfNews</h3>
        <div class="card-body">
            <h5 class="card-title">@special</h5>
            <h6 class="card-subtitle text-muted">@subtitle</h6>
        </div>
        <img src="@link" alt="Card image">
        <div class="card-body">
            <p class="card-text">
                @content
            </p>
        </div>
        <div class="card-footer text-muted">
            @date days ago
        </div>
    </div>
}


@printNews("Озеро Хинтерзее", "Озеро в Германии", "Лучшее что я видел",
    "../../Content/images/lake-picture.jpg", "2", "Хинтерзее – красивейшее озеро в районе" +
    " городка Рамзау 18 метров глубиной. Сочетание большого количества свежих горных источников воды," +
    " питающих озеро, не позволяют воде значительно прогреться даже в летние месяцы, максимальная" +
    " температура воды 16°. Таким образом, для купания оно лишь условно подходит." +
    " Прекрасная природа и красивейшие виды.")

@printNews("Коалы в Австралии", "Special title treatment", "Support card subtitle",
    "../../Content/images/koala-picture-main.jpg", "7", "Коалы очень милые существа.")

@printNews("Пейзаж на берегах Новой Зеландии", "Special title treatment", "Support card subtitle",
    "../../Content/images/landscape-picture.jpg", "20", "Необычайно красивое место")


<div>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>





