@using EShop.BLL
@model EShop.DAL.Entities.Product

@{ 
    string str = LogicClass.print200Symbols(Model.Description, 100);
}

<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3 mt-3">
    <div class="card" style="min-height: 700px">
        <img src="@Url.Content(Model.ImagePath)" class="mt-1"style="max-height: 150px;max-width:100%; margin: 0 auto; display:block;" alt="Фото @Model.Name">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text mt-auto">@str</p>
            <div class="pull-right label label-primary  mt-auto text-right">@Model.Price.ToString("c")</div>

            @*<a href="#" class="btn btn-primary mt-2">Подробнее</a>*@
            @Html.ActionLink("Подробнее", "Details", new { id = Model.ProductId }, new { @class = "btn btn-primary mt-2" })
            @*<input type="submit" class="btn btn-success mt-1" value="Add to cart" />*@
            @using (Html.BeginForm("AddToCart", "Cart"))
        {
            
                @Html.HiddenFor(x => x.ProductId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="form-control btn-success mt-1 col-12"  value="В корзину" />
           
        }
        </div>
    </div>
</div>

