@model EShop.WEB.Models.CartIndexViewModel
@{
ViewBag.Title = "EShop: Корзина";
}

    <div class="jumbotron">
        <h2>Корзина</h2>
        <table id="cartTable" class="table">
            <thead>
                <tr>
                    <th>Количество</th>
                    <th>Продукт</th>
                    <th class="text-right">Цена</th>
                    <th class="text-right">Всего</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-center">@line.Quantity</td>
                        <td class="text-left">@line.Product.Name</td>
                        <td class="text-right">@line.Product.Price.ToString("c")</td>
                        <td class="text-right">
                            @((line.Quantity * line.Product.Price).ToString("c"))
                        </td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("ProductId", line.Product.ProductId)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-sm btn-warning"
                                       type="submit" value="Удалить" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">К оплате:</td>
                    <td class="text-right">
                        @Model.Cart.ComputeTotalValue().ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
        <div class="text-center">

            @Html.ActionLink("Заказать", "Checkout", null, new { @class = "btn btn-primary" })
            <a class="btn btn-dark text-light" href="@Model.ReturnUrl">Назад</a>
        </div>
   