@model IEnumerable<CodeFirst.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="text-center mt-3"><h2>Гостевая</h2></div>


<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card border-primary mb-3 ml-5 mt-3" style="max-width: 20rem; min-width: 320px;">
                <div class="card-header">@item.Name</div>
                <div class="card-body">
                    <h4 class="card-title">@item.TitleOfComment</h4>
                    <p class="card-text">@item.Comment</p>
                </div>
                <div class="container ml-3 mb-2">
                    <div class="row">
                        <div class="mr-3">@Html.ActionLink("Изменить", "Edit", new { id = item.UserId }) </div>
                        <div class="mr-3">@Html.ActionLink("Подробнее", "Details", new { id = item.UserId })</div>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.UserId })
                    </div>
                </div>

                <div class="card-footer text-muted">



                    @if (@item.Date.DayOfYear == DateTime.Now.DayOfYear)
                    {
                        <h6>Сегодня</h6>
                    }
                    else
                    {
                        int dateOfAdd = @item.Date.DayOfYear;
                        int dateToday = DateTime.Now.DayOfYear;
                        int result = (dateToday - dateOfAdd);
                        
                        <h6>@result дней назад</h6>
                    }
                </div>
            </div>
        }
    </div>
</div>

<p class="text-center">
    @Html.ActionLink("Создать новый", "Create")
</p>

