@model CodeFirst.Models.User

@{
    ViewBag.Title = "Create";
}

    <div class="text-center mt-3"><h2>Создать комментарий</h2></div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2">Ваше имя</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Заголовок</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TitleOfComment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TitleOfComment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Комментарий</label>
            <div class="col-md-10 ">
                @Html.TextAreaFor(model => model.Comment, new {  @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div class="text-center mb-2">
    @Html.ActionLink("Назад к комментариям", "Index")
</div>
